<div class="container">
	<div class="col-md-12">
		<%= @paragraph %>
  <br>
  <br>
	</div>
  <% @descriptions.each do |description| %>
  	<div class="col-md-12">
    	<%= description %>
  	</div>
  <% end %>
  
   <dt>With regards,</dt>
  	<%= @signature.name %>
</div>

