<div class="container">
	<div class="col-md-12">
		<%= @template.title %>
	</div>
  
  <div class="col-md-12">
    <%= @template.description %>
  </div>
  <br>
  <br>
   <dt>With regards,</dt>
  <div class="col-md-12">
    <%= @template.category %>
  </div>
</div>

