// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn-circle {
  border-radius: 200px 200px 200px 200px;
    background: #73AD21;
    padding: 20px;
    width: 50px;
    height: 50px;
}
.rcorners1 {
    border-radius:  200px 200px 200px 200px;
    background: green;
    padding: 20px;
    width: 75px;
    height: 75px;
}

.mytext {
    width: 300px;
}
